*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
}

section{
    height: 100vh;
}
section#hero{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#formacion{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section#contacto{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#proyects{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}
h2{
    font-size: 2rem;
    text-align: center;
}

.projects-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.projects-detail{
    background-color: lightsalmon;
    border: 5px solid lightseagreen;
    border-radius: 15px;
    width: 300px;
    margin: 20px;
}

.projects-detail img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: bisque;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: antiquewhite;
}
 
#demo {
 color: aqua;
}